/* RESET */
html {
    font-size: 62.5%; /* ration standard */
    /* 16 * 62.5 = 1.000 */
}

body {
    font: 1.6rem sans-serif; /* 1.6 * 62.5 = 100 */ /* En gros, 1.6rem = 16px, 2.0rem = 20px, 40rem = 400px, 0.1rem = 1px (on divise ou multiplie par 10) */
    margin: 0;
}

h1, h2, h3, h4, figure, p, ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 100; /* Optionnel */
}

details, summary, a {
    outline: none;
    text-decoration: none;
    color: #222;
}

* {
    box-sizing: border-box;
}

:root {
    /*Mes variables css */
    --color-default: #222; /* Pour déclarer une variable, il faut la préfixer de deux tirets */
    --color-list: #ccc;
    --color-page: #fafafa; 
}

/* THEME DE LA PAGE */

header {
    background-color: var(--color-default); /* Pour utiliser une variable css, il faut utiliser var(nom-de-ma-variable) */
}

header h1 {
    color: var(--color-page);
    line-height: 6.5rem;
    text-align: center;
}

figure {
    max-width: 70rem; /* 700px */
    margin: 5.0rem auto;
    box-shadow: 0 0 1.0rem var(--color-default);
    border: solide 0.1rem transparent;
}

figure img {
    display: block;
    width: 100%;
}

figure figcaption {
    padding: 1.0rem;
}

figure figcaption h2 {
    line-height: 6.5rem;
}

figcaption ul li {
    line-height: 2.5rem;
}

figcaption ul li:nth-child(2n + 2) {
    background-color: var(--color-list);
}

figure details {
    padding: 0.5rem;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    content: "+";
    color: var(--color-default);
    font-size: 1.5rem;
    padding: 0.5rem;
}

details[open] summary::before {
    content: "-"; 
}

div:nth-of-type(1) {
    padding: 1.0rem;
}

div:nth-of-type(1)  p{
    text-align: center;
}

@media screen and (max-width:60rem) {
    figure {
        margin-top: 0;
        border: 0;
    }

    figure figcaption h2, header h1{
        font-size: 3.5vw;
    }
}